# Flutter/Dart/Pub related
.dart_tool/
.packages
build/
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies

# Android related
android/.gradle/
android/app/build/
*.iml
.gradle/

# iOS related
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
ios/Pods/

# Windows/Linux/Mac
windows/flutter/
linux/flutter/
macos/Flutter/

# VS Code & IntelliJ
.vscode/
.idea/

# Misc
*.log
*.tmp
*.lock

# OneDrive temporary files
*.tmp
*.lnk
~$*
